# editor and IDE cache
.vscode
.idea
__pycache__

# project backup folder
backup/

# logs
events.out*
*checkpoint*
log.txt

# docs that need no record
LOG.md
INTRO.md

# static file types
*.wav
*.pth
src-*
*.csv
*.ass
*.srt
*.ssa

# debug scripts
*.ipynb

# show some examples
!result-examples/The-Invisible-Man-2020.ass

# scripts for testing module functionality and prepare for intergretion
scripts

# models for Speech to Text
model-*