# vscode editor cache
.vscode
__pycache__

# project backup folder
backup/


# logs
events.out*
*checkpoint*
log.txt

# docs that need no record
LOG.md
INTRO.md

# static file types
*.wav
*.pth
src-*

# debug scripts
*.ipynb
