moviepy==1.0.3
colorednoise==1.1.1
torch==1.7.1
catalyst==20.12
pandas==1.2.1
vosk==0.3.22
albumentations==0.5.2
audiomentations==0.15.0
numpy==1.19.5
librosa==0.8.0
SoundFile==0.10.3.post1
ffmpeg_python==0.2.0
ffmpeg==1.4
PyYAML==5.4.1
scikit_learn==0.24.1
