numpy==1.19.5
colorednoise==1.1.1
SoundFile==0.10.3.post1
albumentations==0.5.2
moviepy==1.0.3
pandas==1.2.1
ffmpeg_python==0.2.0
catalyst==21.4.2
audiomentations==0.15.0
librosa==0.8.0
torch==1.8.1+cu111
vosk==0.3.22
ffmpeg==1.4
PyYAML==5.4.1
scikit_learn==0.24.2
